body{
    padding: 0px;
    margin: 0px;
    font-family: century gothic;
    background:url(position-center-center.png);
background-size: 170%;
position: relative;
background-position: 0px;
}

.container{
    background: rgba(252, 250, 250, 0.5);
    position: absolute;
    margin: 30px 25%;
    padding: 50px;
    border-radius: 20px;
}

ul{
    list-style-type: none;
    float: right;
    margin-top: 20px;
}

ul li{
    display: inline-block;
}

ul li u{
    text-decoration: none;
    color: white;
    padding: 5px 20px;
    border: 1px solid transparent;
}

ul li a:hover{
    background-color: white;
    color: black
}
 ul li.active a{
     background-color: white;
     color: black
 }

 .main{
 
 }
 